
body{
    background-color: #7f8c8d;
    margin:0;
    font-family: Avenir-Next,Roboto,sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
/* nav*/
.header{
    background-color: rgb(250, 249, 245);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:6px;
}
.nav{
    display: flex;
    align-items: flex-end;
    gap:1rem;
}
.ind{
    height:20px;
    padding: 10px;
}
.logo{
    height:30px
}
select{
    text-decoration: none;
    border: none;
    background-color: rgb(250, 249, 245);
    padding: 10px;
    font-size: 16px;
    color: rgb(138, 136, 133);
}
.nav button{
    text-decoration: none;
    border:none;
    background-color: rgb(250, 249, 245);
    padding: 10px;
    font-size: 16px;
    color: rgb(138, 136, 133);
}
.apply{
    background-color: rgb(235, 103, 56)!important;
    color:white !important;
    font-size: 15px ;
    padding:2px !important;
    width:7rem;
    align-self: center;
}



 /*home*/
  .container{
    background-image: url("/assets/ksqOx5F.jpg");
    background-size: cover;
    padding:40px;
    margin: 0;   
  }
  .home{
      max-width: 1200px;
      margin-top: 30px;
      margin-left: auto;
      margin-right:auto;
      padding-left: 40px;
      margin-bottom: 50px;
  }
  h1{
      font-size: 90px;
      color:white;
      margin:0;
  }
  .welcome-text{
      font-size: 33px;
      color:white;
      margin-bottom: 15px;
  }
  .apply-here{
      border:none;
      border-radius: 2px;;
      color:white;
      background-color:  #4992ca;
      padding:10px;
      width: 10rem;
      margin:15px;
  }
  .register{
      border:2px solid white;
      background-color: transparent;
      color: white;
      padding:10px;
      width: 10rem;
      margin:15px;
      border-radius: 2px;;
  }
  .here{
      border:none;
      border-radius: 15px;
      color:black;
      padding:10px;
      margin:15px;
  }
  /* pokemon poket monsters*/
 .container-pms{
     background-color: #4992ca;
     padding:40px;
 }
 p,.pms-heading,.type-h4,i{
     color:white;
 }
 h2{
     font-size: 45px;
 }
 h4{
     font-size: 30px;
 }
 i{
     font-size: 40px;
 }
 .pms{
     text-align: center;
     padding:1px;
     max-width: 1100px;
     margin-left:auto;
     margin-right:auto;
 }
.poke-types{
    display: flex;
    flex-wrap: column;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 40px;
} 

/*Stats*/
#stats{
    color: black;
}
.container-stat{
    background-color: white;
    text-align: center;
    padding:40px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
}
.stat-h2{
    padding:0px;
    margin:0;
}
.stats-h4{
    padding:0px;
    margin:0;
}
.stats{
    display: flex;
    flex-wrap: column;
    text-align: center;
    justify-content: space-between;
    max-width: 1200px;
}
.weightLoss, .appDownloads{
    padding: 10px;
    display: flex;
    flex-flow: column;
}
.stat{
    width: 450px;
    align-self: center;
}
/*pokemon of the year*/
.container-year{
    background-color: white;
    text-align: center;
    font-weight: 100;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding:40px;
}
.G{
    height:250px;
    border-radius: 50%;
}
.P{
    height:60px
}
.ch{
    color: #000;
}
.pokeOfTheYear{
    display: flex;
    flex-flow: column;
    max-width: 1200px;
    margin-bottom: 40px;
    gap:2rem;
}
.N{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    gap:40px;
    padding:10px;
}
.N div{
    padding-top: 15px;
}
.container-year h4{
    font-size: 30px;
    color:gray
}
.container-year h2{
    margin-bottom:0;
}
.container-year h6{
    font-size: 18px;
    color:gray;
    margin:0;
}
.char{
    height:200px;
    align-self: center;
}
.container-year p{
    color: gray;
}
.g{
    margin:0;
}

/*Q n A*/
.container-qna{
    color:white;
    background-color:  #4992ca;
    padding: 40px;;
    
}
.margin{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
}
.ol{
   font-size: 20px;
   font-weight: 600;
}
.container-qna h4{
    font-size: 20px;
    margin-top: 5px;;
}
.container-qna h2{
    font-size: 45px;
    text-align: center;
    margin-bottom: 5px;
    margin:0;
}
.ul{
    margin-left: 80px;
    font-size: 16px;
}
ol{
    margin:0;
    padding:15px;
}
/*Pokemon battles*/
.container-poke-battles{
    background-color: white;
    margin:0;
    text-align: center;
    padding:40px;
}
.poke-battles-h2{
    margin:0;
}
.poke-battles-p{
    color: #8a8a8a;
}

.poke-battles-p-tables{
    color: black;
}
td{
    color: #8a8a8a;
}
.poke-battles-tab,th,td{
    border:1px solid #8a8a8a;
    border-collapse:collapse ;
    padding:10px;
    text-align: left;
}
.poke-battles-content{
    display: flex;
    max-width: 1200px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding:15px;
}
.poke-battles-para{
    flex-basis: 0;
    flex-grow: 1;
    padding:15px;
    text-align: left;
    align-self: flex-start;
}
.poke-battles-table{
    flex-basis: 0;
    flex-grow: 2;
    text-align: left;
}
.poke-battles-h4{
    font-size: 18px;
    margin: 0;
}
.poke-battles-p-tables{
    font-weight: 500;
}
.buy-now-h4{
    color:#4992ca;
    font-size: 20px;
}
.buy-now{
    border:none;
    color:white;
    background-color:#4992ca ;
    padding:10px;
    width: 15rem;
    font-size: 15px;
    font-weight: 600;
}
/*know more*/
.container-km{
    background-color: #424242;
    padding:40px;
    text-align: center;
}
.km-h2{
    margin: 0;
    color:white;
    font-size: 45px;
}
.km{
    border:2px solid white;
    background-color: transparent;
    color: white;
    padding:15px;
    width: 15rem;
}
/*card*/
.container-card{
    background-color: white;
    text-align: center;
    padding:40px;
}
.card-h2{
    margin:0;
    color:gray;
}
.card-p{
    color: gray;
}
.card{
    border: 1px solid rgb(192, 186, 186);
    width: 250px;
    margin: auto;
    border-top:20px solid #4992ca;
    background-color: rgb(226, 226, 243);
}
.para{
    border-top: 1px solid rgb(204, 198, 198);
    background-color: white;
}
.cont-p{
    color: black;
    padding: 5px;
    margin:0;
    padding:15px;
}
.card-h4{
    font-size: 18px;
}
/*pokemon trainers*/
.container-trainers{
    background-color: #4992ca;
    text-align: center;
    font-weight: 100;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding:40px;
}
.tr{
    height:250px
}
.poketrainer{
    display: flex;
    flex-flow: column;
    max-width: 1200px;
    margin-bottom: 40px;
    gap:2rem;
}
.T{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    gap:40px;
    padding:10px;
}
.container-trainers h4{
    font-size: 30px;
    color:white;
    font-weight: 100;
}
.container-trainers h2{
    margin-bottom:0;
}
.container-trainers h6{
    font-size: 18px;
    color:white;
    margin:0;
    font-weight: 100;
}
.container-trainers p{
    color: white;
}
.container-trainers h2{
   color: white;
}
.g{
    margin:0;
}
.T div{
    margin-top: 1rem;
}
.tr{
    border-radius: 50%;
}
/*generation cards*/
.cards_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    gap: 1rem;
}
.gc-card{
    background-color: white;
    border: 1px solid rgb(192, 186, 186);
    width: 450px;
    border-top:20px solid #4992ca;
    
}
.gc-p{
    color:black;
    padding: 20px;
    text-align: left;
}
.container-gc{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: white;
    text-align: center;
    padding: 40px;;
}
.gc-h4{
    margin:0;
    color: gray;
    padding: 20px;
    font-size: 40px;
}
.card-head{
    background-color: rgb(243, 239, 243);
    
}
.gc-h6{
    margin:0;
    text-align: left;
    padding: 10px;
    font-size: 28px;;
}
/*email*/
.container-km{
    background-color: #424242;
    padding:40px;
    text-align: center;
}
.km-h2{
    margin: 0;
    color:white;
    font-size: 45px;
}
.sub{
    border:3px solid white;
    background-color: transparent;
    color: white;
    padding:10px;
    width: 15rem;
    font-size: 20px;;
}
input[type=email]{
    padding:15px;
    width: 300px;
}
/*pokemon games*/
.container-pg{
    background-color: white;
}
.pg-p{
    color: black;
}
.pg-img{
    width:150px;
}
.pg-h4{
    margin:0;
    padding:20px;
    color: gray;
    font-size: 40px;
}
.cont{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;

}
.marg-pg{
    padding:40px;
    max-width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.pika{
    width: 100px;
}
.sleep{
    width: 200px;
}
.pg-h6{
    font-size: 20px;
    margin:0;
}
.seemore{
    background-color:#4992ca ;
    border:none;
    color: white;
    padding: 15px;
    font-size: 18px;
    width:15rem;
}
.pg-sec{
    width: 400px;
}
/*designers*/
.des-sec{
    display: flex;
    flex-wrap: column;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 40px;
} 
.des{
    text-align: center;
     padding:40px;
     max-width: 1100px;
     margin-left:auto;
     margin-right:auto;
}
.container-des{
    background-color: #4992ca;
}
.des-h4{
    margin:0;
    color:white;
    font-weight: 100;
}
.des-sec p{
    margin:0;
}
.pp{
    text-align: left;
}
.des-h2{
    margin:0;
    color:white;
}
.designer
{
    width:200px;
    border-radius: 50%;
}
.what{
    padding:15px;
}

.container-logos{
    background-color: white;
    text-align: center;
}
.logos-p{
    color: gray;
    margin:0;
}
.logos-h2{
    margin:0;
    color: gray;
}
.pokemon-imgs{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.logos{
    padding:40px ;
}
/*blue*/
.blue{
    background-color: #4992ca;
}
/*footer*/
ul{
    list-style: none;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color: rgb(165, 165, 165);
}
.footer{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding:40px;
    margin-right: auto;
    margin-left: auto;
}
footer{
    background-color: rgb(12, 23, 31);
}
h3{
    color: rgb(102, 106, 117);
    margin: 0;
    padding-bottom:5px;
}
.ic{
    width: 20px;
}
.icons{
    display: flex;
    justify-content: space-between;
    padding:15px;
}

@media(max-width:1085px){
    h1{
        font-size: 35px;
    }
    .welcome-text{
        font-size:20px;
    }
    .tr{
        width:300px;
        align-self: center;
    }
    .G{
        width:300px;
        align-self: center;
    }
    .nav{
        gap:0;
    }
    .apply{
        width:80px;
    }
    .home{
        margin-left:-30px;
    }
    .welcome{
        font-size: 60px;
    }
    .container{
        padding:10px;
    }
    .welcome-text{
        font-size: 35px;
    }
    .poke-types{
        flex-flow: column;
    }
    .stats{
        flex-flow: column;
        padding: 10px;
    }
    .stats p{
        font-size: 10px;
    }
    .weightLoss,.appDownloads{
        padding: 10px;
    }
    .stat{
        width: 200px;
    }
    .stat-h2{
        font-size: 40px;
    }
    .N{
        flex-flow: column;
    }
    .year{
        font-size: 40px;
    }
    .margin{
        display: flex;
        flex-flow: column;
        padding: 0px;
    }
    .ul{
        margin:0;
        text-align: center;
    }
    /*table*/
    .poke-battles-content{
        flex-flow: column;
    }
    /*table*/
    .T{
        flex-flow: column;
    }
    .gc-card{
        width: 310px;
    }
    input[type=email]
    {
        width:200px;
    }
    .km-h2{
        font-size: 30px;
    }
    .sub{
        width:100px;
    }
    .cont{
        flex-flow: column;
        padding: 0px;
    }
    .pg-sec{
        width:300px;
        text-align: center;
    }
    .des-sec{
        flex-flow: column;
    }
    .pp{
        text-align: center;
    }
    .pokemon-imgs{
        flex-flow: column;
    }
    .footer{
        flex-flow: column;
    }
    .container-qna
    {
        padding: 30px;
    }
    .poke-battles-tab,th,td{
        
        padding:5px;
    }
    .nav button{
        font-size: 15px;
        padding:10px;
    }
    .nav{
        gap:0;
    }
    .logo{
        height:30px
    }
    .ind{
        height:20px;
    }
    .apply{
        width:90px;
    }
    .container-pms{
        padding:20px;
    }
    .container-stat{
        padding: 20px;
    }
    .container-poke-battles{
        padding:5px;
    }
    .des{
        padding: 20px;
    }
}
@media(max-width:932px){
    h1{
        font-size: 35px;
    }
    .welcome-text{
        font-size:20px;
    }
    .tr{
        width:300px;
        align-self: center;
    }
    .G{
        width:300px;
        align-self: center;
    }
    .nav{
        gap:0;
    }
    .apply{
        width:80px;
    }
    .home{
        margin-left:-30px;
    }
    .welcome{
        font-size: 40px;
    }
    .container{
        padding:10px;
    }
    .welcome-text{
        font-size: 20px;
    }
    .poke-types{
        flex-flow: column;
    }
    .stats{
        flex-flow: column;
        padding: 10px;
    }
    .stats p{
        font-size: 10px;
    }
    .weightLoss,.appDownloads{
        padding: 10px;
    }
    .stat{
        width: 200px;
    }
    .stat-h2{
        font-size: 40px;
    }
    .N{
        flex-flow: column;
    }
    .year{
        font-size: 40px;
    }
    .margin{
        display: flex;
        flex-flow: column;
        padding: 0px;
    }
    .ul{
        margin:0;
        text-align: center;
    }
    /*table*/
    .poke-battles-content{
        flex-flow: column;
    }
    /*table*/
    .T{
        flex-flow: column;
    }
    .gc-card{
        width: 310px;
    }
    input[type=email]
    {
        width:200px;
    }
    .km-h2{
        font-size: 30px;
    }
    .sub{
        width:100px;
    }
    .cont{
        flex-flow: column;
        padding: 0px;
    }
    .pg-sec{
        width:300px;
        text-align: center;
    }
    .des-sec{
        flex-flow: column;
    }
    .pp{
        text-align: center;
    }
    .pokemon-imgs{
        flex-flow: column;
    }
    .footer{
        flex-flow: column;
    }
    .container-qna
    {
        padding: 30px;
    }
    .poke-battles-tab,th,td{
        
        padding:5px;
    }
    .nav button{
        font-size: 12px;
        padding:10px;
    }
    .nav{
        gap:10px;
    }
    .logo{
        height:20px
    }
    .ind{
        height:15px;
    }
    .apply{
        width:80px;
    }
    .container-pms{
        padding:20px;
    }
    .container-stat{
        padding: 20px;
    }
    .container-poke-battles{
        padding:5px;
    }
    .des{
        padding: 20px;
    }
    select{
        display: none;
    }
}
@media(max-width:770px){
    h1{
        font-size: 35px;
    }
    .welcome-text{
        font-size:20px;
    }
    .tr{
        width:300px;
        align-self: center;
    }
    .G{
        width:300px;
        align-self: center;
    }
    .nav{
        gap:0;
    }
    .apply{
        width:80px;
    }
    .home{
        margin-left:-30px;
    }
    .welcome{
        font-size: 40px;
    }
    .container{
        padding:10px;
    }
    .welcome-text{
        font-size: 20px;
    }
    .poke-types{
        flex-flow: column;
    }
    .stats{
        flex-flow: column;
        padding: 10px;
    }
    .stats p{
        font-size: 10px;
    }
    .weightLoss,.appDownloads{
        padding: 10px;
    }
    .stat{
        width: 200px;
    }
    .stat-h2{
        font-size: 40px;
    }
    .N{
        flex-flow: column;
    }
    .year{
        font-size: 40px;
    }
    .margin{
        display: flex;
        flex-flow: column;
        padding: 0px;
    }
    .ul{
        margin:0;
        text-align: center;
    }
    /*table*/
    .poke-battles-content{
        flex-flow: column;
    }
    /*table*/
    .T{
        flex-flow: column;
    }
    .gc-card{
        width: 310px;
    }
    input[type=email]
    {
        width:200px;
    }
    .km-h2{
        font-size: 30px;
    }
    .sub{
        width:100px;
    }
    .cont{
        flex-flow: column;
        padding: 0px;
    }
    .pg-sec{
        width:300px;
        text-align: center;
    }
    .des-sec{
        flex-flow: column;
    }
    .pp{
        text-align: center;
    }
    .pokemon-imgs{
        flex-flow: column;
    }
    .footer{
        flex-flow: column;
    }
    .container-qna
    {
        padding: 30px;
    }
    .poke-battles-tab,th,td{
        
        padding:5px;
    }
    .nav button{
        font-size: 12px;
        padding:10px;
    }
    .nav{
        gap:10px;
    }
    .logo{
        height:20px
    }
    .ind{
        height:15px;
    }
    .apply{
        width:80px;
    }
    .container-pms{
        padding:20px;
    }
    .container-stat{
        padding: 20px;
    }
    .container-poke-battles{
        padding:5px;
    }
    .des{
        padding: 20px;
    }
    select{
        display: none;
    }
}
@media(max-width:425px){
    h1{
        font-size: 35px;
    }
    .welcome-text{
        font-size:20px;
    }
    .tr{
        width:300px;
        align-self: center;
    }
    .G{
        width:300px;
        align-self: center;
    }
    .nav{
        gap:0;
    }
    .apply{
        width:80px;
    }
    .home{
        margin-left:-30px;
    }
    .welcome{
        font-size: 40px;
    }
    .container{
        padding:10px;
    }
    .welcome-text{
        font-size: 20px;
    }
    .poke-types{
        flex-flow: column;
    }
    .stats{
        flex-flow: column;
        padding: 10px;
    }
    .stats p{
        font-size: 10px;
    }
    .weightLoss,.appDownloads{
        padding: 10px;
    }
    .stat{
        width: 200px;
    }
    .stat-h2{
        font-size: 40px;
    }
    .N{
        flex-flow: column;
    }
    .year{
        font-size: 40px;
    }
    .margin{
        display: flex;
        flex-flow: column;
        padding: 0px;
    }
    .ul{
        margin:0;
        text-align: center;
    }
    /*table*/
    .poke-battles-content{
        flex-flow: column;
    }
    /*table*/
    .T{
        flex-flow: column;
    }
    .gc-card{
        width: 310px;
    }
    input[type=email]
    {
        width:200px;
    }
    .km-h2{
        font-size: 30px;
    }
    .sub{
        width:100px;
    }
    .cont{
        flex-flow: column;
        padding: 0px;
    }
    .pg-sec{
        width:300px;
        text-align: center;
    }
    .des-sec{
        flex-flow: column;
    }
    .pp{
        text-align: center;
    }
    .pokemon-imgs{
        flex-flow: column;
    }
    .footer{
        flex-flow: column;
    }
    .container-qna
    {
        padding: 30px;
    }
    .poke-battles-tab,th,td{
        
        padding:5px;
    }
    .nav button{
        font-size: 10px;
        padding:10px;
    }
    .nav{
        gap:0;
    }
    .logo{
        height:20px
    }
    .ind{
        height:10px;
    }
    .apply{
        width:80px;
    }
    .container-pms{
        padding:20px;
    }
    .container-stat{
        padding: 20px;
    }
    .container-poke-battles{
        padding:5px;
    }
    .des{
        padding: 20px;
    }
    select{
        display: none;
    }
}
@media(max-width:355px){
    h1{
        font-size: 35px;
    }
    .welcome-text{
        font-size:20px;
    }
    .tr{
        width:300px;
        align-self: center;
    }
    .G{
        width:300px;
        align-self: center;
    }
    .nav{
        gap:0;
    }
    .apply{
        width:80px;
    }
    .home{
        margin-left:-30px;
    }
    .welcome{
        font-size: 40px;
    }
    .container{
        padding:10px;
    }
    .welcome-text{
        font-size: 20px;
    }
    .poke-types{
        flex-flow: column;
    }
    .stats{
        flex-flow: column;
        padding: 10px;
    }
    .stats p{
        font-size: 10px;
    }
    .weightLoss,.appDownloads{
        padding: 10px;
    }
    .stat{
        width: 200px;
    }
    .stat-h2{
        font-size: 40px;
    }
    .N{
        flex-flow: column;
    }
    .year{
        font-size: 40px;
    }
    .margin{
        display: flex;
        flex-flow: column;
        padding: 0px;
    }
    .ul{
        margin:0;
        text-align: center;
    }
    /*table*/
    .poke-battles-content{
        flex-flow: column;
    }
    /*table*/
    .T{
        flex-flow: column;
    }
    .gc-card{
        width: 310px;
    }
    input[type=email]
    {
        width:200px;
    }
    .km-h2{
        font-size: 30px;
    }
    .sub{
        width:100px;
    }
    .cont{
        flex-flow: column;
        padding: 0px;
    }
    .pg-sec{
        width:300px;
        text-align: center;
    }
    .des-sec{
        flex-flow: column;
    }
    .pp{
        text-align: center;
    }
    .pokemon-imgs{
        flex-flow: column;
    }
    .footer{
        flex-flow: column;
    }
    .container-qna
    {
        padding: 30px;
    }
    .poke-battles-tab,th,td{
        
        padding:5px;
    }
    .nav button{
        font-size: 10px;
        padding:0px;
    }
    .nav{
        gap:0;
    }
    .logo{
        height:20px
    }
    .ind{
        height:10px;
    }
    .apply{
        width:80px;
    }
    .container-pms{
        padding:20px;
    }
    .container-stat{
        padding: 20px;
    }
    .container-poke-battles{
        padding:5px;
    }
    .des{
        padding: 20px;
    }
    select{
        display: none;
    }
}

